<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper" >
    <div class="footer-nav">
          <a class="page-link" href="{{ site.url }}/0prep.html">0-Prep</a>
          <a class="page-link" href="{{ site.url }}/1why.html">1-Why</a>
          <a class="page-link" href="{{ site.url }}/2setup.html">2-Setup</a>
          <a class="page-link" href="{{ site.url }}/3workflow.html">3-Workflow</a>
          <a class="page-link" href="{{ site.url }}/4history.html">4-History</a>
          <a class="page-link" href="{{ site.url }}/5more.html">5-More</a>
          <a class="page-link" href="{{ site.url }}/6resources.html">6-Resources</a>
    </div>
    </div>
      <h2 class="footer-heading"><a href="{{ "/" | prepend: site.url }}">{{ site.title | escape }}</a> - <a href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a> <a href="https://github.com/evanwill">evan will</a> - 2017.</h2> 
  </div>
</footer>
